<table><h2>Search Result Based on Location</h2>
  <tr>
    <th>Hotel</th>
  </tr>
  <tr>
    <td>Name</td>
    <td>Rank</td>
    <td>Location</td>
    <td>Address</td>
    <td>Roomtype</td>
    <td>Bedtype</td>
    <td>Price</td>
  </tr>

  <% @scrappedHotels.each do |hotel| -%>
    <tr>
      <% hotel.each do |key, value| -%>
        <td><%= value %></td>
      <% end %>
    </tr>
  <% end -%>



</table>



