<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>An Error is Assigned to you!!!</p>
<p>
  Error details<br>
  --------------------------
</p>
<p>ErrorMessage: <%= @error.errormessage %></p>

</body>
</html>