<h2>Restaurants List</h2>
<div class="row">

  <% @restaurants.each do |restaurant| -%>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= link_to restaurant.name, restaurant %></h5>
            <p class="card-text"><%= restaurant.location.name %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price :<%= restaurant.price %></li>
          </ul>
          <div class="card-body">
            <!--<a href="#" class="btn btn-primary">Search</a> -->
          </div>
        </div>
      </div>
    <% end %>

  <br>
</div>